body,
html {
    height: 100%;
    margin: 0;
    font: 400 16px/1.8;
    font-family: "Apple Chancery";
    letter-spacing: 2px;
    color: rgb(250, 253, 161);
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 18px;
    margin: 0;
}

.text-underline {
    text-decoration: underline;
}

.pad-bottom {
    padding-bottom: 20px; 
}

.btn-center {
    margin: 10px auto;
    width: 50%;
    display: block;
}

.center-heading {
    margin-bottom: 20px;
    text-align: center;
}